{% extends 'index.html' %}
{% block title %}Удалить страницы{% endblock %}

{% block content %}
<div class="container">
  <div>
    <h1>Организовать PDF</h1>
    <div class="error" id="error_message">
      {{ error }}
    </div>
  </div>

  {% if status=='nofile' %}
    {% include 'forms/upload.html' %}
  {% endif %}

  {% if status=='uploaded' %}
  <form method="post" action="organize_pdf?action=organize" enctype="multipart/form-data" id="upload_file_form" class="form_group">
    <div class="block_group" id="form_orginaze">
      <h3 class="block_item title">Страницы загруженного файла</h3>
      <span class="block_item title">Перетащите, что бы отсортировать</span>
      <ul id="pageList" class="list_group_pages">
        {% for i in range(files[0].page_count) %}
          <li class="list_page">
            <a class="list_page_btn_remove" onclick="removePage(this)">
              <span><img src="{{ url_for('static', filename='images/baseline_close_white_18dp.png') }}" alt="remove"></span>
            </a>
            <span>Стр. {{ i + 1 }}</span>
            <input type="hidden" name="sort_pages" value="{{ i }}">
          </li>
        {% endfor %}
      </ul>
      <input type="hidden" name="f" id="f" value="{{ files[0].filename }}">
      <div class="action_panel">
        <a class="action_btn" href=# onclick="cancel()">Сбросить</a>
      </div>
      <button class="btn btn_next" type="submit">
        <span class="btn_text">Организовать</span>
        <span class="btn_image"><img src="{{ url_for('static', filename='images/baseline_navigate_next_white_18dp.png') }}" alt=""></span>
      </button>
    </div>
  </form>

  <script src="{{ url_for('static', filename='js/Sortable.min.js') }}"></script>
  <script>
    Sortable.create(pageList, {
      multiDrag: true,
      selectedClass: 'selected',
      swapThreshold: 1,
      ghostClass: 'draggable_list',
      animation: 150,
    });
    const uploaded_files = {{ files|tojson }};
    pageList = document.getElementById('pageList');
    const save_page_list = pageList.innerHTML;

    function removePage(el) {
      el.parentNode.remove()
    }

    function cancel() {
      pageList.innerHTML = save_page_list;
    }
  </script>
  {% endif %}

  {% if status=='completed' %}
    {% with filename=upload_file_name %}
      {% include 'forms/download_file.html' %}
    {% endwith %}
  {% endif %}

{% endblock %}