<div class="block_group">
  <div class="form_group">
    <a href="download/{{ upload_file_name }}" class="btn btn_download">
      <span class="btn_image"><img src="{{ url_for('static', filename='images/baseline_get_app_white_18dp.png') }}" alt=""></span>
      <span class="btn_text">Скачать PDF-файл</span>
    </a>
  </div>
  <a href="${document.locations.pathname}" class="btn_back">Назад</a>  
</div>
<script>
  back_link = document.getElementsByClassName('btn_back')[0]
  back_link.href = document.location.pathname;
</script>