
<div class="block_group">
  <form method="post" enctype="multipart/form-data" id="upload_file_form" class="form_group">
    <div style="display: flex;">
      <input type="file" id="upload_file" name="upload_file" class="upload" accept=".pdf"
      {% if multiple %}
      multiple
      {% endif %}
      />
      <label for="upload_file" id="upload_btn" class="btn">
        <span class="btn_image">
            <img src="{{ url_for('static', filename='images/baseline_cloud_upload_white_18dp.png') }}" alt="">
        </span>
        <span class="btn_text">
          {% if title %}
            {{ title }}
          {% else %}
            Выберите файл
          {% endif %}
        </span>
      </label>
      <div id="upload_spinner" class="upload_spinner">
        <img src="{{ url_for('static', filename='images/Spinner.gif') }}" alt="Загрузка">
      </div>
      <input type="submit" value="Загрузить" hidden>
    </div>
  </form>
</div>
<script>
  const MAX_SIZE_FILE = "{{ settings['MAX_SIZE_FILE'] if settings['MAX_SIZE_FILE'] else 10 }}"; //мб
  const ALLOWED_EXTENSIONS = {{ settings['ALLOWED_EXTENSIONS']|tojson }};
  const upload_file = "{{ upload_file if upload_file else '' }}";
  upload_input = document.getElementById('upload_file')
  upload_input.onchange = function(e) {
    const upload_btn = document.getElementById('upload_btn')
    const upload_form = document.getElementById('upload_file_form')
    const error_message = document.getElementById('error_message')
    const upload_spinner = document.getElementById('upload_spinner')
    if (e.target.value !== '') {
      error_message.innerText = '';
      for (let i = 0; i < e.target.files.length; i++) {
        const size = e.target.files[i].size / 1024 / 1024;
        const extension = e.target.files[i].name.split('.').pop();

        if (size > MAX_SIZE_FILE) {
          error_message.innerText += `Файл ${e.target.files[i].name} превышает размер ${MAX_SIZE_FILE}Мб\n`
        }
        if (!ALLOWED_EXTENSIONS.includes(extension.toLowerCase())) {
          error_message.innerText += `Файл ${e.target.files[i].name} с расширением ${extension} запрещен\n`
        }
      }
      if (error_message.innerText === '') {
        upload_btn.classList.add('loading')
        upload_form.submit()
        upload_btn.style.display = 'none'
        upload_spinner.style.display = 'block'
      }
    }
  }
</script>